body{
    font-family: sans-serif;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    grid-area: body;
    background-image: linear-gradient(to bottom, #f8edeb, #fae9e5, #fbe6de, #fbe2d7, #fbdfcf, #fcdcc8, #fcd9c0, #fbd7b9, #fcd3b1, #fdd0a9, #fdcca2, #fec89a);
    min-height: 100vh;
    }