header{
    min-height: 100vh;
    display: flex;
    min-height: 70px;
    background-color: #F9DCC4;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    grid-area: header;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    margin-right: 20px;
}

a:link{
    color: black;
    text-decoration: none;

}

nav a{
    font-weight: 600;
    padding-right: 60px;
}

nav a:hover{
    color: white;
}

.carousel-item{
    height: 50rem;
  }

  .casas{
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: flex-start;
    justify-content: space-around;
    padding: 15px;
  
  }
  
  .inicio{
    display: grid;
    align-content: flex-start;
    justify-content: space-around;
    padding: 15px;
  }
  
  .empresa{
    display: grid;
    align-content: flex-start;
    justify-content: space-around;
    padding: 15px;
  }
  
  main{
    text-align: center;
    grid-area: main;
  }

@media (max-width:700px){
    header{
    flex-direction: column;
    }

nav {
    padding: 10px 0px;
    grid-area: nav;
}

}
.container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
}